:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

body {
  font-family: "Roboto", sans-serif;
}
.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

.main-btn {
  background-color: var(--red-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  color: var(--yellow-color);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search .fa-magnifying-glass {
  color: var(--green-color);
  font-size: 1rem;
}

/* styling hamburger-btn */
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
/* end styling hamburger-btn */

.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 54px);
}

.main-title::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--green-color);
}

/* .test dh e3btro h2 mdeh position relative
  .test::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    top: 100%;
    left: 1%;
    background-color: var(--green-color);
  }  */



/* styling features */
#features-box {
  margin-top: 5rem;
}
.features .icon-holder .icon {
  color: var(--green-color);
}
.features .feat h4 {
  color: var(--yellow-color);
}
/*end styling features */


/* start work styling  */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--red-color);
}

.our-work .box {
  padding:5px;
  overflow: hidden;
  position: relative;
  background-color: red;
}

.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px); /*34an mdy padding 5px ymen w 5px shmal */
  height: calc(100% - 10px);
  background-color: rgb(51 209 204 / 76%);
  transform: translateX(calc(-100% - 5px));
  transition: .5s;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;

}
.our-work .box:hover::before {
  transform: translateX(0);

}
/* end work styling  */


/* Start Stuff */
.stuff .description {
  max-width: 500px;
}
/* End Stuff */
/* Start Stuff */
.stuff .description {
  max-width: 500px;
}
/* End Stuff */
/* Start Team */
.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--yellow-color);
}
.team .box h4 {
  background-color: var(--green-color);
}
/* End Team */
/* Start Project */
.project {
  background-color: var(--dark-color);
}
